@model List<StudentRegistration.ViewModels.TeacherDto>

<table id="tablemodel" class="table table-bordered table-hover table-striped ">

    <thead>

        <tr>
            <th>Tid</th>
            <th>TeacherName</th>
            <th>TeacherCnic</th>
            <th>Address</th>
            <th>Email</th>
            <th>Subjects</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row_@item.Tid">
                <td>@item.Tid</td>
                <td>@item.TeacherName</td>
                <td>@item.TeacherCnic</td>
                <td>@item.Address</td>
                <td>@item.Email</td>
                <td>@item.SubjectNames</td>

                <td>
                    <a href="javascript:studentDetails('@item.Tid')" class="stdDetail btn btn-success" data-id="@item.Tid">Edit</a>
                    <a href="javascript:studentProfile('@item.Tid')" class="stdDetail btn btn-success" data-id="@item.Tid">Profile</a>
                    @*<a href="@Url.Action("Delete",new { id=item.Tid })"><i class="btn btn-danger"><b>Delete</b> </i></a>*@
                    <a class="btn btn-danger" id="btnDelete" onclick="ConfirmDelete(@item.Tid)">Delete</a>

                </td>
            </tr>
        }
    </tbody>

</table>



