@model StudentRegistration.Models.TeacherRegistration 

@{
    ViewBag.Title = "AddStudent";
    Layout = null;
}



@using (Html.BeginForm("AddTeacher", "Teacher"))

{


    @Html.TextBoxFor(m => m.TeacherName, new { @class = "form-control", placeholder = "Firstname", required = true })

    @Html.TextBoxFor(m => m.TeacherCnic, new { @class = "form-control", placeholder = "Lastname", required = true })

    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Address", required = true })

    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", required = true })

    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", required = true })



    @Html.HiddenFor(m => m.Tid)
    <button type="submit" value="Submit" class="btn btn-success">Submit</button>


}


