
@model StudentRegistration.Models.TeacherRegistration




@{
    ViewBag.Title = "Edit";
    Layout = null;
}



@using (Html.BeginForm("Edit", "Teacher"))

{


    @Html.TextBoxFor(m => m.TeacherName, new { @class = "form-control", placeholder = "Firstname" })

    @Html.TextBoxFor(m => m.TeacherCnic, new { @class = "form-control", placeholder = "TeacherCnic" })

    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Address" })

    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })

    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })


    @Html.HiddenFor(m => m.Tid)
    <button type="submit" value="Save Changes" class="btn btn-success">Submit</button>




}
