@model StudentRegistration.Models.TeacherRegistration
@{
    ViewBag.Title = "ProfileView";
}

<h2 align="center">ProfileView</h2>




<h5>Student name: @ViewBag.item.TeacherName</h5>
<h5>Last name: @ViewBag.item.TeacherCnic</h5>
<h5>Address : @ViewBag.item.Address</h5>
<h5>Email: @ViewBag.item.Email</h5>

<button type="submit" value="submit" class="btn btn-success" onclick="location.href='@Url.Action("TeacherRecord","Teacher")'"><i class="plus-square"> Back to List</i></button>