@model StudentRegistration.Models.TeacherRegistration
@{
    ViewBag.Title = "TeacherRecord";
}

<div id="emailDetailContent"></div>

<h2>Teacher Record</h2>

<a href="javascript:studentDetails('0')" class="stdDetail btn btn-success" data-id="0">Add Teacher</a>
<br />
<br />

<table id="tablemodel" class="table table-bordered table-hover table-striped ">

    <thead>

        <tr>
            <th>Tid</th>
            <th>TeacherName</th>
            <th>TeacherCnic</th>
            <th>Address</th>
            <th>Email</th>
            <th>Subjects</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.List)
        {
         <tr id="row_@item.Tid">
            <td>@item.Tid</td>
            <td>@item.TeacherName</td>
            <td>@item.TeacherCnic</td>
            <td>@item.Address</td>
            <td>@item.Email</td>
            <td>@item.SubjectNames</td>

            <td>
                <a href="javascript:studentDetails('@item.Tid')" class="stdDetail btn btn-success" data-id="@item.Tid">Edit</a>
                <a href="javascript:studentProfile('@item.Tid')" class="stdDetail btn btn-success" data-id="@item.Tid">Profile</a>
                @*<a href="@Url.Action("Delete",new { id=item.Tid })"><i class="btn btn-danger"><b>Delete</b> </i></a>*@
          

                <a class="btn btn-danger" id="btnDelete" onclick="ConfirmDelete(@item.Tid)">Delete</a>
            
            </td>
        </tr>
        }
    </tbody>

</table>



<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Delete Teacher</h3>
            </div>
            <div class="modal-body">
                <h4>Are you sure to delete this?</h4>
                <div style="text-align:center; display:none" id="loaderDiv">
                    @*<img src="~/Content/Image/images (1).jpg" style="height:200px; width:200px" />*@
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-success" onclick="DeleteTeacher()">Confirm</a>
            </div>
        </div>
    </div>
    <input type="hidden" id="hiddenid" />
</div>




<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
        $('#tablemodel').DataTable({});

        $(function () {
            $("#loaderbody").addClass('hide');
        });
    
        function studentDetails(rid) {
            $.ajax({
                type: "GET",
                url: '/Teacher/AddEditTeacher',
                contentType: "application/json; charset=utf-8",
                data: { "id": rid },
                datatype: "json",
                success: function (data) {
                    $('#emailDetailContent').html(data);
                    $('#ViewModal').modal('show');
                },
                error: function () {
                    alert("Data load failed.");
                }
            });

        }

        function studentProfile(rid) {
            $.ajax({
                type: "GET",
                url: '/Teacher/ProfileViewTeacher',
                contentType: "application/json; charset=utf-8",
                data: { "id": rid },
                datatype: "json",
                success: function (data) {
                    $('#emailDetailContent').html(data);
                    $('#ViewModal').modal('show');
                },
                error: function () {
                    alert("Data load failed.");
                }
            });

        }


        var ConfirmDelete = function (id) {
            $("#hiddenid").val(id);
            $("#myModal").modal('show');
        }

        var DeleteTeacher = function () {

            $("#loaderDiv").show();

            var stdid = $("#hiddenid").val();
           
            $.ajax({

                type: "POST",
                url: "/Teacher/Delete",
                data: { id: stdid },
                beforeSend: function () {
                    $("#loaderbody").show();
                },
                success: function (result) {
                    $("#loaderDiv").hide();
                    $("#myModal").modal("hide");
                    $("#row_" + stdid).remove();
                    
                },
                complete: function () {
                    $("#loaderbody").hide();
                },
                
            })
           
        }
    </script>


}
